/*body part*/

body{
	background-color:#0C1027;
	font-family:sans-serif;
	width:100%;
	height:100%;
	margin:0px;
	padding:0px;
}

/*Navigation Bar*/

header{
	width:100%;
	display:block; 

}
#navigation-bar{
    display:flex;
    flex-direction: row;
    position:fixed;
    top:0;
    left:0;
    margin:0;
    width:100%;
    padding: 5px;
    background-color:#0C1027; 
    z-index: 1;
}
#logo img{
	width:10vw;
	height:auto;
	position: relative;
	top:5%;
	padding:3px; 
	}
#favourites
{   
	font-size:1.5vw;
    text-decoration:none;
    color:white;
    float:left;
    position:relative;
    top:40%;
    left:50%;
}
form{
	float:right;
	display:flex;
    position:absolute;
    top:1.4vw;
    right:24%;
    background-color:#12193E;
    border-radius:10px;
    width:25vw;
    height:auto;
}
#search-icon i{
	padding:10px;
    color:white;
    font-size:1.2vw;	
}
#search-icon a i:hover{
   color:grey;
}
form input{
	margin-top:7px;
	font-size:1.2vw;
	background-color:#12193E;
    border-style:none;
	width:100%;
	max-width: 100%
	color:white;
}

form input:focus{
	outline:none;
}
#voice-search i{
	padding:10px;
    color:white;
    font-size:1.2vw;
    position: absolute;
    top:5%;
    right:2%;
}
#Bell i{
	color:white;
	float:right;
	position:absolute;
	top:40%;
    right:20%;
    font-size:2vw;
    display:flex;
    align-items:center;
}
#image{
	
	position:absolute;
	top:20%;
	right:2%;

}
#image img{
    border-radius:50%;
    width:4vw;
    min-width:20px;
	height:auto;
    float:right;
    position: absolute;
    top:5%;
    right: 20%;
}

/*Content section*/

.container{
	width:100%;
	margin:0;
	}
main{
	width:65%;
	display: inline-block;
	height:auto;
	margin-top:10%;
	margin-left:2%;
	user-select: none;
	margin-bottom:10%;
}

/*Slider section*/

#content{
	display:flex;
	flex-direction:row;
	flex-wrap:wrap;
	align-items:left;
}
[type=radio]{
	display:none;
}
#slider{
	height:20vw;
	width:100%;
	perspective: 1000px;
	transform-style:preserve-3d;
}
#slider label{
	width:70%;
	height:100%;
	border-radius:4px;
	position:absolute;
	left:15%;
	top:5%;
	cursor:pointer;
	transition:transform 0.4 ease;
}
#s1:checked ~ #slide4,#s2:checked ~ #slide5,
#s3:checked ~ #slide1,#s4:checked ~ #slide2,
#s5:checked ~ #slide3{
	box-shadow:0 6px 10px 4px lightgrey;
	transform:translate3d(-30%,0,-200px); 
}
#s1:checked ~ #slide5,#s2:checked ~ #slide1,
#s3:checked ~ #slide2,#s4:checked ~ #slide3,
#s5:checked ~ #slide4{
	box-shadow:0 6px 10px 4px lightgrey;
	transform:translate3d(-15%,0,-100px);

}
#s1:checked ~ #slide1,#s2:checked ~ #slide2,
#s3:checked ~ #slide3,#s4:checked ~ #slide4,
#s5:checked ~ #slide5{
	box-shadow:0 6px 10px 4px lightgrey;
	transform:translate3d(0,0,0); 
}
#s1:checked ~ #slide2,#s2:checked ~ #slide3,
#s3:checked ~ #slide4,#s4:checked ~ #slide5,
#s5:checked ~ #slide1{
	box-shadow:0 6px 10px 4px lightgrey;
	transform:translate3d(15%,0,-100px); 
}
#s1:checked ~ #slide3,#s2:checked ~ #slide4,
#s3:checked ~ #slide5,#s4:checked ~ #slide1,
#s5:checked ~ #slide2{
	box-shadow:0 6px 10px 4px lightgrey;
	transform:translate3d(30%,0,-200px); 
}

/*Latest Release section*/

.latest{
	margin-top:10%;
	margin-left:3%;
	text-align:left;
	position:relative;
}
.heading{
	font-size:1.8vw;
	font-weight: 600;
	color:white;
}
.group{
	display:flex;
	flex-direction:row;
	flex-wrap:wrap;
}
.div1{
	margin:3% 5% 0 0;
	width:25vw;
	height:auto;
	position:relative;
}
.div1 img{
	width:7.5vw;
	height:auto;
	opacity:1;
	transition: .5s ease;
  backface-visibility: hidden;
}
.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 45%;
  left: 14%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  
}
.middle #song-link button{
	background:none;
	border:none;
	outline:none;
}
.middle #pause-link button{
	background:none;
	border:none;
	outline:none;
}
.middle #pause-link button i{
	font-size:1vw;
 color:white;
 display:inline-block;
 margin:auto;
 }

.middle #song-link button i{
	font-size: 1vw;
	color:white;
	display: inline-block;
	margin:auto;
}
.image-overlay:hover img {
  opacity: 0.5;
}

.image-overlay:hover .middle {
  opacity: 1;
}
.div1>span a{
   position: absolute;
   top:50%;
   left:50%;
   transform: translate(-50%,-50%);
}
.div1 #song{
    position: absolute;
    left:45%;
    top:30%;
    font-size:1.2vw;
    font-weight: 600;
    color:white;

}
.div1 #date{
    position: absolute;
    left:45%;
    top:55%;
    color:white;
    font-size:1vw;

}
.dropdown-list{
    position:absolute;
    color: white;
    top:0;
    right:0;
}
.dropdown-list a{
	font-size: 1.5vw;
}
.dropdown-list>span{
	display: block;
	font-size:1.5vw;
	line-height: 0.5;
}
.dropdown-list .dropdown-content{
    list-style: none;
    padding: 0px;
    color:black;
    display:none;
}
.dropdown-list .dropbtn{
	background-color:inherit;
	color:white;
	outline:none;
	border:none;
}
.dropdown-list .dropbtn i{
	font-size:1.5vw;
}
#dropdown-item{
    background-color: #fff;
    border-radius: 2px;
    position: absolute;
    top:0;
    right:0;
    z-index:1;
    min-width:120px;
    box-shadow:0 0 2px 2px lightgrey; 
}
#dropdown-item li{
    padding:7px;
}
#dropdown-item a{
   text-decoration: none;
}
#dropdown-item a i{
	color:grey;
}
#dropdown-item a li span{
	margin-left: 0.5vw;
	color:black;
	font-weight: 600;
	font-size:1vw;
}
.dropdown-list:hover .dropdown-content{
	display:block;
}

/*Artist section*/
.Artists{
    margin-top:6%;
	margin-left:3%;
	text-align:left;
	position:relative;
}
.round{
	width:65vw;
	display:flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin-right:0;
	align-items: left;
}
.people{
	margin:auto;
	margin-left: 0;
	position: relative;
}
.images1 img{
	width:8.8vw;
	height:8.8vw;
	border-radius: 50%;
	margin-top:15px;
}
.images1 a i{
	position: absolute;
	top:45%;
	left:50%;
	color:white;
	opacity:0;
}
.people:hover img{
   opacity:0.5;
}
.people:hover i{
	opacity:1;
}
.Name{
   text-align: center;
   color:white;
   font-size:1.2vw;
   font-weight:500; 
}
.radio{
	margin-left: 3%;
	margin-top:10%;
	width:63vw;
	background-color:#12193E;
	height:auto;
	display:flex;
	flex-direction: row;
	flex-wrap:wrap;
}
.Stations img{
	margin-top:10%;
	margin-right:2vw;
	width:12vw;
	height: 10vw;
}
.station-images{
	margin-top:5%;
	margin-right:1%;
	position: relative;
	text-align:center;
}
.radius img{
	width:7vw;
	height:7vw;
	border-radius:50%; 
	opacity:0.8;
}
.type{
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
 }
 /*Stations section*/
 .thirdRow{
 	margin-top:4%;
	margin-left:3%;
	text-align:left;
	width:63vw;
	height:auto;
	display:flex;
 	flex-direction: row;
 	flex-wrap:wrap;
    position:relative;
    justify-content: space-between;
 }
 .rowImage{
 	margin-right:0;
    overflow:hidden;
    position: relative;
 }
 .rowImage img{
    width:20vw;
    height:auto;
    opacity:0.7;
 }
 .rowImage img:hover{
 	transition:transform 0.5s;
 	transform: scale(1.2);
   
 }
 .text{
 	position:absolute;
 	top:50%;
 	left:50%;
 	transform: translate(-50%,-50%);
 	color:white;
 	font-size: 2vw;
 	font-weight: 600;
 }
 /*English and Hindi Songs section*/
 .More-songs{
 	margin-top:5%;
 	margin-left:3%;
 }
 .English,.Hindi{
 	margin-top:5%;
 	display: flex;
 	flex-direction: row;
 	flex-wrap:wrap;
 	width:63vw; 
 	justify-content: space-between;
 }
 .Songs img{
 	width:9vw;
 	height:9vw;
 	display:inline;
 }
 .Song-Name{
 	color:white;
 	font-size:1.2vw;
 	font-weight: 500;
 	margin-top: 2%;
 }
 .Song-date{
 	color:white;
 	font-size:1.2vw;
 	margin-top: 2%;

 }
 .Songs .image-overlay{
 	position: relative;
 }
 .Songs .image-overlay .middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top:4.5vw;
  left:4.5vw;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  
}
.Songs .image-overlay:hover img {
  opacity: 0.5;
}

.Songs .image-overlay:hover .middle {
  opacity: 1;
}
/*Right section*/
 aside{
 	width: 23%;
    display:inline-block;
    vertical-align: top;
    margin-top:11%;
    margin-left:4%;
    margin-right:0;

 }
 /*scrolling queue section*/
.scrollable{
	margin-top:10%;
	overflow: hidden;
}
.scrollable:hover{
	overflow:auto;
}
#song-queue-list{
    display: flex;
    flex-direction: column;
    content: '';
    height:66vw;
    float: left;
}
.scrollable::-webkit-scrollbar{
	display:none;
    
}
.scrollable{
	
	-ms-overflow-style: none; 
  scrollbar-width: none; 
}
.queue-images {
    display: flex;
    margin-bottom: 12px;
}
.queue-images img{
	width:4vw;
	height:4vw;
}
.like-button{
    margin-left: 10vw;
    margin-top: 0%;

}
.like-button i{
	color:white;
	font-size:1.2vw;
}
.song-image span{
    position: relative;
    top: -1.5vw;
    margin-right: 0.8vw;
}
.song-image{
 	position: relative;
 }
.song-image .middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top:2vw;
  left:4.5vw;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  margin:auto;
  
}
.song-image .middle div{
	display:inline-block;
}
.song-image:hover img {
  opacity: 0.5;
}

.song-image:hover .middle {
  opacity: 1;
}
.song-image .middle #pause-link button i{
	font-size:0.8vw;
 color:white;
 display:inline-block;
 margin:auto;
 }

.song-image .middle #song-link button i{
	font-size: 0.8vw;
	color:white;
	display: inline-block;
	margin:auto;
}
.song-content{
    margin: 0.6vw 0.5vw 0px;
}
.lt-white{
	color:white;
	font-size: 1vw;
}

#playlist-header .dropdown{
	position:relative;
	display:inline-block;
}
#playlist-header .dropdown .button{
	background-color: inherit;
	border:none;
	outline: none;
	font-size:1.2vw;
	color:white;
	padding-left: 11vw;
}
#drop-content a{
	display:block;
	background-color: white;
	color:black;
	box-shadow:0 0 2px 2px lightgrey;
	text-decoration: none;
	margin:auto;
}
#drop-content{
	position:absolute;
	right:0;
	width:10vw;
	font-size:1.2vw;
	margin-left:2%;
	z-index:1;
}

.right-section{
	position:absolute;
    width:30%;
    height:100%;
    margin:0;
}
.right-section>div{
	height:100%;
}
/*second page left section*/
#left-section{
	width:65%;
	display: inline-block;
	height:auto;
	margin-top:0;
	margin-left:2%;
	user-select: none;
	margin-bottom:10%; 
	background-color: grey;
}
/*content section*/
#Intro{
    width:63vw;
    height:auto;
    margin:auto;
    margin-top:0;
    background-color:#12193E;
    position:absolute;
}
#person-image img{
	width:40%;
	height:auto;
	display:inline-block;
}
#about{
	position:absolute;
	top:20%;
	left:46%;
	margin-right:5%;
}

.followers{
	font-size:1vw;
	position: absolute;
	top:5%;
	right:0;
	color:lightgrey;
}
.sub-heading{
	font-size:1vw;
}
.sub-heading-content{
	text-align:justify;
	color:lightgrey;
	font-size:0.9vw;
}
.Button button{
	width:8vw;
	height:3vw;
	font-size:1.2vw;
	font-weight: 600;
	color:white;
	background-image: linear-gradient(to right,blue,purple);
	border-style:none;
	display:inline-block;
}
.link{
	display:inline-block;
	vertical-align: top;
	position:absolute;
	right:10%;
	top:11vw;

}
.link a{
	text-decoration: none;
	color:white;
	font-size:1.3vw;
}
.Specific-singer{
	display:flex;
	flex-direction:column;
	flex-wrap:wrap;
}
.All-songs{
	margin-top:30vw;
}
.All-songs .queue-images{
	width:63vw;
	background-color:#1A1E33;
}
.All-songs .queue-images .middle{
    position:absolute;
    top:2.7vw;
    left:4.7vw;
}
.All-songs .queue-images .song-image{
	margin-left:2%;
}
.All-songs .queue-images .song-image img{
	margin-top:12%;
	margin-bottom:7%;
}
.All-songs .like-button i{
    margin-left:30vw;
    margin-top:2.5vw;
}
.All-songs .plus i{
	margin-left:3vw;
    margin-top:2.5vw;
    font-size:1.2vw;
    color:white;
}
.All-songs .song-content{
	margin-top:1.5vw;
}
/*footer section*/
.footer{
	position:fixed;
	bottom:0;
	left:0;
	width:100%;
	background-color:#282828;
	height:5vw;
	z-index:1;
}
#footer-image img{
	width:4vw;
	height:4vw;
	margin-left:6vw;
	margin-top:0.5vw;
}
#footer-song{
	position: absolute;
	left:12vw;
	top:1vw;
	overflow:hidden;
	color:grey;
}	
#footer-song span{
	display:block;
}
#audio-play{
    position:absolute;
    top:20%;
    left:30%;
    width:50vw;
    height:3vw;

}
.song-link a i{
    position:absolute;
    top:50%;
    left:16%;
}
.song-link a i{
    color:black;
}
.song-link a i:hover{
	display:block;
}

#audio{
	display:inline-block;
	vertical-align:middle;
}
#audio button i {
  text-decoration: none;
  display: inline-block;
}

#audio a:hover,#audio .reset button i:hover {
 
  color: blue;
}

.previous {
	position: absolute;
	top:1.5vw;
	right:10vw;
	width:3vw;
  color: white;
}
.previous i{
	font-size:1.5vw;
	color:white;
}
.reset button,.previous button,.next button{
	
	background-color: inherit;
	outline:none;
	border:none;
}
.reset{
	width:3vw;
	position: absolute;
	top:1.5vw;
	right:7vw;
}
.reset i{
	color:white;
	font-size: 1.5vw;
}

.next {
	position: absolute;
	top:1.5vw;
	right:4vw;
    width:3vw;
   color: white;
}
.next i{
	font-size:1.5vw;
	color:white;
}
